* {
  margin: 0;
  padding: 0;
  text-align: center;
}

article p {
  text-align: left;
}

tbody tr {
  cursor: pointer;
}

caption {
  width: 100%;
}

h1,
.address,
.company {
  padding: 0.5rem 0;
}

button {
  padding: 1rem;
}

thead,
caption {
  font-weight: 700;
}

caption {
  font-size: 2rem;
}